*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:0;
    background:#000;
    color: #FBF4EB;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 10%;
    background: linear-gradient(135deg, #000000, #F283AF);
}

.logo{
    font-size:28px;
    font-weight:700;
    letter-spacing:1px;
    cursor:pointer;
}

.logo span{
    background:linear-gradient(135deg,#F283AF,#C43670);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.logo:hover{
    text-shadow:0 0 12px #F283AF;
    transform:scale(1.05);
    transition:0.3s;
}

.menu{
    list-style:none;
    display:flex;
    gap: 25px;
}

.menu a{
    text-decoration:none;
    color:#FBF4EB;
    font-size:14px;
    transition:0.3s;
}

.menu a:hover{
    color: #ec4899;
    font-size: 20px;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    overflow:hidden;
}

.hero h1{
    font-size:70px;
    margin:10px 0;
}


.subtitle{
    color:#F283AF;
}

.description{
    max-width:400px;
    margin:auto;
}

.buttons{
    display:flex;
    gap:20px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background:#F283AF;
    border-radius:30px;
    color: #FBF4EB;
    text-decoration:none;
}

.hero-image{
    position:relative;
}

.smoke{
    position:absolute;
    width:350px;
    height:350px;
    background:radial-gradient(circle,
        #F283AF,
        #C43670,
        transparent
    );
    filter:blur(120px);
    opacity:0;
    pointer-events:none;
    transition:opacity 0.3s;
}

.circle{
    width:350px;
    height:350px;
    background: #ec4899;
    border-radius:50%;
    filter:blur(80px);
}

.title{
    font-size:70px;
    font-weight:700;
}

#typing{
    border-right:3px solid #F283AF;
    padding-right:5px;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0%{border-color:#F283AF;}
    50%{border-color:transparent;}
    100%{border-color:#F283AF;}
}